.dropdownOptionSelectorContainer{
    display:flex;
    justify-content:space-between;
    column-gap:10px;
    width:100%;
    margin:0 auto auto;
}

.dropdownOptionSelectorContainer input{
    width:100%;
}

.plusIcon{
    color:#fff!important;
}

.dropdownOptionDisplayer{
    margin-top:8px;
    min-height:180px;
    max-height:180px;
    overflow-y: auto;
    /* border:1px solid black; */
}

.dropdownOptionDisplayerOption{
    /* border:1px solid white; */
    display:flex;
    justify-content:space-between;
    padding:2px;
}

.dropdownOptionDisplayerOptionIcon{
    cursor:pointer;
}

.plusIcon:disabled{
    color:var(--text_primary_muted_color)!important;
}
.plusIcon:hover{
    background-color:var(--app_accent_color)!important;
}
.plusIcon:active{
    background-color:var(--app_accent_color)!important;
}

.countryLabel{
    display:flex;
    justify-self: center;
    align-items:center;
    column-gap:5px;
}