.addContainer{
    /* border:1px solid red; */
    margin-bottom:10px;
    display:flex;
    justify-content:flex-end;
}

.addButton{
    background-color:var(--app_accent_color)!important;
    color:var(--app_accent_text_color)!important;
}

.newFieldFormContainer{
    margin-top:20px;
    /* border:1px solid white; */
}