@font-face {
  font-family: figTreeFont;
  src: url(../assets/fonts/figtree/Figtree-VariableFont_wght.ttf);
}
*{
  margin:0;
  padding:0;
  font-family: figTreeFont;
  transition: all 0.1s;
}


body > #root > div {
  min-height: 100vh;
}