.editorFieldContainer{
    display:flex;
    flex-direction:column;
    width:96%;
    margin:0 auto 10px auto;
}

.editorFieldLabel{
    font-size:14px;
    margin-bottom:8px;
    color:var(--text_primary_color);
    font-weight:bolder;
}

.editorField{
    padding:7.200px 14.400px;
    background-color:var(--body_fourth_background);
    border:1px solid var(--input_border_color);
    border-radius:4px;
    color:var(--text_primary_color);
    font-size:16px;
}

.notValidFormElement{
    border:1px solid var(--app_not_valid_red_color);
}

.notValidText{
    color:var(--app_not_valid_red_color);
    font-size:.70rem;
    margin-top:4px;
    margin-left:3px;
}

.notValidTextColor{
    color:var(--app_not_valid_red_color);
}

.editorField:focus{
    outline:none;
}

.editorFieldArea{
    resize:none;
}

.editorField::placeholder{
    color:var(--text_primary_color);
    font-size:14px;
}

.editorButtonContainer{
    display:flex;
    justify-content:center;
    margin-top:1.4rem;
}
