.sidebar, .sidebar-hidden{
    background-color:var(--body_secondary_background);
    padding:10px 0;
}

.sidebarTitleWrapper{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

.sidebar{
    width:240px;
    z-index:1;
}

.sidebar-hidden{
    width:0px;
}

.sidebarLinks{
    margin:50px 0 0 0;
    display:flex;
    flex-direction:column;
    row-gap:15px;
}


.linkElement{
    color:var(--text_primary_muted_color);
    text-decoration:none;
    font-size:14.8px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    column-gap:8px;
    padding:0 8px;
}

.linkElementIcon{
    color:var(--text_primary_muted_color);
    font-size:19px!important;
}

.fixIconMarginTop{
    margin-top:2px;
}

.linkElementContainer:hover .linkElement{
    color:var(--text_primary_muted_hovered_color);   
}
.linkElementContainer:hover .linkElementIcon{
    color:var(--text_primary_muted_hovered_color);   
}

.active svg, .active{
    color:var(--app_accent_color)!important;
}

.closeButtonContainer{
    display:none;
}

.hideSideBarButton{
    color:var(--text_primary_color);
    font-size:17px;
    cursor:pointer;
}

.sidebarTitleContainer{
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
}

.sidebarOverlay{
    display:none;
    background-color:var(--screen_overlay_color);
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:1;
    cursor:pointer;
}

@media only screen and (max-width: 767px) {
    .sidebar {
      width:200px;
      position:fixed;
      left:0;
      top:0;
      bottom:0;
      z-index:2;
    }
    .sidebarOverlay{
        display:block;
    }
    .closeButtonContainer{
        display:block;
    }
    .sidebarTitleContainer{
        justify-content:space-between;
    }
  }
  @media only screen and (max-width: 425px) {
    .sidebar {
        width:75%;
    }
  }